{{template "base" .}}
<head>
    {{define "css"}}
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
        <title>Technology Blog</title>
    {{end}}
</head>
{{define "content"}}
    <header>
        <div class="header-container">
            <img src="/static/img/tomi.jpg" alt="Profile Picture" class="profile-pic">
            <h1>Technology Blog </h1>
            <nav class="social-nav">
                <a href="https://twitch.tv/tomasitofl" target="_blank">Twitch</a>
                <a href="https://twitter.com/tomas__fl" target="_blank">Twitter</a>
                <a href="https://www.linkedin.com/in/tomaslingotti" target="_blank">LinkedIn</a>
                <a href="/archive" target="_self">Archivo</a>
            </nav>
        </div>
    </header>

    <main>
        {{$articles := index .Data "articles"}}
        {{range $a := $articles}}
            <section class="post">
                <img src="foto.png" alt="Post Image" class="post-image">
                <h2><a href="/articles/{{$a.Slug}}">{{$a.Title}}</a></h2>
                <p>{{$a.Subtitle}}</p>
                <p class="post-date">{{$a.PublishedAt.Format "Jan 02, 2006"}}</p>
            </section>
        {{end}}
    </main>
{{end}}
{{define "js"}}
    <script src="/static/js/code-parser.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">

    </script>
{{end}}