{{template "base" .}}
<head>
    <title> Escribi tu Articulo</title>
    {{define "js-editor"}}

        <script src="https://cdn.tiny.cloud/1/{{.Key}}/tinymce/6/tinymce.min.js"
                referrerpolicy="origin"></script>
    {{end}}
</head>
{{define "content"}}
    {{$Author := index .Data "author"}}
    <h1>Bienvenido {{$Author.Name}}</h1>
    <form method="POST" action="/stage?rid={{.DraftID}}">
        <label>
            Título: <input type="text" name="title"> <br>
            SubTítulo<input type="text" name="subtitle">
        </label>
        <label>
            <textarea id="content" name="content">
               Comenzá a escribir aca!
           </textarea>
        </label>
        <button type="submit" class="btn">Enviar</button>
    </form>

    <script>
        tinymce.init({
            selector: '#content',
            plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
            tinycomments_mode: 'embedded',
            tinycomments_author: 'Author name',
            mergetags_list: [
                {value: 'First.Name', title: 'First Name'},
                {value: 'Email', title: 'Email'},
            ]
        });
    </script>
{{end}}